body {
    margin: 40px auto;
    max-width: 960px;
    color: #242020;
    font-family: sans-serif;
}

h1 {
    fort-size: 3.0rem;
    font-weight: 300;
}

a {
    color: #66b3c3;
}
a:hover {
    color: #76c3d3;
}
